<!DOCTYPE html>
<html>
<head>
	<title>Juega con los animales</title>
	<link rel="stylesheet" type="text/css" href="../Styles/global.css">
	<link rel="stylesheet" type="text/css" href="../Styles/GridGame.css">
	
</head>
<body>
	
	<div class="wrapper">
		<div class="grid-header"></div>
		<div class="grid-a grid-interactive"></div>
		<div class="grid-b grid-interactive"></div>
		<div class="grid-c grid-interactive"></div>
		<div class="grid-d grid-interactive"></div>
		<div class="grid-footer"></div>
	</div>
</body>
</html>